@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url('../assets/fonts/OpenSans/OpenSans-Bold.ttf');
  }
  
  @font-face {
    font-family: 'Pacifico';
    font-weight: 400;
    src: url('../assets/fonts/Pacifico/Pacifico-Regular.ttf');
  }