@use 'colors';
@use 'mixins';
@use 'variables';

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

#root {
    height: 100%;
    height: stretch;
}

.container {
    @include mixins.flex(normal, normal, column);
    height: 100%;
    height: stretch;
}

main {
    flex: 1;
    margin-bottom: 20px;
    margin-top: 10px;
}

.content-wrapper {
    @include mixins.media('max-width', 1024px) {
        width: 90%;
    }

    flex: 1;
    margin: 0 auto;
    margin-top: calc(#{variables.$appbar-height} + 10px);
    width: 900px;
    max-width: 100%;
}

.saved-recipes {
    @include mixins.gridAF(250px, 1fr);
    display: grid;
    grid-gap: 20px;
}

footer {
    text-align: center;
    color: #e0e0e0;
    text-shadow: 0 1px 0 #000;
    background: #565658;
    height: 100px;
}

footer a {
    text-decoration: none;
    color: colors.$clr-red-light;
}

footer a:hover {
    text-decoration: underline dashed;
    text-underline-position: under;
}
