@use 'mixins';

.search {
    flex: 1;
}

.search-form {
    @include mixins.flex();
    @include mixins.media('max-width', 375px) {
        font-size: 0.9rem;
    }

    border: 1px solid rgba(0, 0, 0, 0.15);

    &__input {
        width: 100%;
        padding: 0.4rem 0.5rem;
    }

    &__button {
        @include mixins.flex(normal, center);
        @include mixins.media('max-width', 375px) {
            font-size: 1rem;
        }

        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.03),
            rgba(0, 0, 0, 0.1)
        );
        color: rgba(0, 0, 0, 0.6);
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        font-size: 1.2rem;
        transition: all 0.2s ease;
        box-sizing: content-box;
        padding: 0 0.6rem;

        &:hover {
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
        }

        &:active {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}
