@use 'styles/fonts';

@use 'styles/layout';
@use 'styles/header';
@use 'styles/card';
@use 'styles/search';
@use 'styles/modal';
@use 'styles/searchResults';

.app-bar .logo {
    font-family: 'Pacifico';
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #444445;
    background-color: #f4f4f4;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
}

button,
input {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    color: inherit;
}
